

.customerWrapper{
    	Wdith:100%;
    	height:auto;
}
h2{
    float:left;
    width:100%;
    text-align: center;

}
input{
    width:100%;
}
#end{
    display:none;
}
.DirectionsButton{
     margin: 8px 2px 2px 0px;
    text-align: center;
    width: 90px;
    padding: 10px;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
    float: left;
    display: block;
    float: left;
    height: auto;
    width: 30%;
    height: 70px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
}
#msgBody{
    width: 100%;
    height: 200px;
    float: left;
    background: white;
    border-radius: 5px;
    overflow: auto;
    margin-top:5px;
    border:2px solid white;
}
.xbox{
    float: right;
    color: red;
    background: #eee;
    padding: 7px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 22px;
    cursor: pointer;
    height: 50px;
    border: 1px solid gray;
}
#mainHeader{
    height:400px;
}
.collectMeBtn{
    background: #40C4DD;
    padding: 6px;
    border-radius: 10px;
    float: right;
    margin-top:15px;
    cursor:pointer;
    width:100%;
    text-align: center;
    margin-bottom:16px;
   
}
.collectMeBtn2{
    background: #40C4DD;
    padding: 6px;
    border-radius: 10px;
    float: right;
    margin-top:15px;
    cursor:pointer;
    width:100%;
    text-align: center;
    margin-bottom:16px;   
}
.msgParagraph{
   color:brown;
   padding: 5px;
   font-size: 14px;
}
.altEmailName{
    color:gray;
    font-size:12px;
}
.customerBlock{
    	float: left;
    	width: 23%;
    	background: #5E88A0;
    	height: 300px;
    	padding: 10px;
    	border: 1px solid gray;
    	margin-left: 10px;
    	margin-right: 10px;
    	margin-bottom:20px;
        color:white;
        border-radius:5px;
}
.lists li{
margin-bottom:20px;
font-size:16px;
}
.cross{
    float: right;
    color: #40C4DD;
    padding: 3px;
    padding: 5px;
    border-radius: 5px;
}
.headingcolor{
    color:#40C4DD;
}
.custname{
	float:left;
	font-size: 18px;
}
.imgdiv{
    	float:right;

}
.address{
	clear:both;
}


#map{
    height:500px; 
    width:100%; 
    margin:0 auto;
/*    box-shadow: 3px 3px 10px gray;*/  
    }
    #map2{
    height:500px; 
    width:100%; 
    margin:0 auto;
/*    box-shadow: 3px 3px 10px gray;*/  
    }
        #map3{
    height:500px; 
    width:100%; 
    margin:0 auto;
/*    box-shadow: 3px 3px 10px gray;*/  
    }
#repeat{ 
     display: inline;
     }
#country_container { 
    margin: 8px 2px 2px 0px;
    text-align: center;
    width: 90px;
    padding: 10px;
    color: white;
    background-color: #5E88A0;

    cursor: pointer;
    float: left;
    display: block;
    float: left;
    height: auto;
    width: 30%;
    height: 70px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
     }
#country_container1 { 
    margin: 8px 2px 2px 0px;
    text-align: center;
    width: 100%;
    padding: 6px;
    margin-top: -10px;

    color: white;
    float: right;
    background-color: #40C4DD;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    border: 1px solid #5E88A0;
    margin-top:20px;
    }
#country_container:hover { 
     box-shadow: 0px 0px 10px blue;
     background-color: gray; 
     border: 1px solid gray; 
     cursor: pointer; 
     }
#names { 
     cursor: pointer; 
       }
       @media only screen and (max-width: 1020px) and (min-width: 768px){

        .customerBlock{
        float: left;
        width: 45%;
        background: #5E88A0;
        height: 300px;
        padding: 10px;
        border: 1px solid gray;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom:20px;
        color:white;
        border-radius:5px;
        }
        #mainHeader{
        height:300px;
        }
        #mapWrappers{
    height:950px;
        }
        #mapWrappers2{
    height:950px;
        }
        #mapWrappers3{
    height:950px;
        }
       }
       
       @media only screen and (max-width: 767px) and (min-width: 480px){

        .customerBlock{
        float: left;
        width: 45%;
        background: #5E88A0;
        height: 300px;
        padding: 10px;
        border: 1px solid gray;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom:20px;
        color:white;
        border-radius:5px;
        }
        #mainHeader{
        height:200px;
            }
    #mapWrappers{
    height:950px;
    }
    #mapWrappers2{
    height:950px;
    }
    #mapWrappers3{
    height:950px;
    }
       }
       @media only screen and (max-width: 479px){

                .customerBlock{
        float: left;
        width: 95%;
        background: #5E88A0;
        height: 300px;
        padding: 10px;
        border: 1px solid gray;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom:20px;
        color:white;
        border-radius:5px;
        }
        #mainHeader{
        height:150px;
        }
        #mapWrappers{
        height:1000px;
        }
        #mapWrappers2{
        height:700px;
        }
         #mapWrappers3{
        height:700px;
        }
       }