

.customerWrapper{
    	Wdith:100%;
    	height:auto;
}
.customerBlock{
    	float: left;
    	width: 23%;
    	background: #5E88A0;
    	height: 300px;
    	padding: 10px;
    	border: 1px solid lightgray;
    	margin-left: 10px;
    	margin-right: 10px;
    	margin-bottom:20px;
        color:white;
}
.headingcolor{
    color:#40C4DD;
}
.custname{
	float:left;
	font-size: 18px;
}
.imgdiv{
    	float:right;

}
.address{
	clear:both;
}


#map{
    height:500px; 
    width:500px; 
    margin:0 auto;
/*    box-shadow: 3px 3px 10px gray;*/  
    }
    #map2{
    height:500px; 
    width:500px; 
    margin:0 auto;
/*    box-shadow: 3px 3px 10px gray;*/  
    }
#repeat{ 
     display: inline;
     }
#country_container { 
     margin: 8px 2px 2px 0px; 
     text-align: center; 
     width: 90px; 
     padding: 10px; 
     color: white; 
     background-color: #5E88A0; 
     font-size: 16px; 
     cursor: pointer;
     }
#country_container:hover { 
     box-shadow: 0px 0px 10px blue;
     background-color: gray; 
     border: 1px solid gray; 
     cursor: pointer; 
     }
#names { 
     cursor: pointer; 
       }