  <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>Alan Leonard</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="images/me.png" alt="Alan Leoanrd picture">
            </div>
            <div class="col-md-6">
                <h2>About Me</h2>
                <p>    
I returned to college and studied in Dublin City University from 2010 to 2013 and obtained an honours degree in Multimedia, from there I went to Dublin Business School to study Cloud Technology and Databases for a year. While in DCU I gained experience in programmes such as Adobe Photoshop, DreamWeaver, InDesign, Premier Pro, Fireworks, Edge/Animate and Adobe's SoundBooth and in DBS I learned .NET and C#.
</p><br />
<p>After leaving college I learned various software such as WebStorm, SublimeText, Xcode, Android Studio and Eclipse.</p>
<p>
I am currently working for Careers Portal as Web Application Developer/Multimedia Creator. My main project was to make their entire website mobile compatible. To do this I used HTML5, CSS3, JQuery , MySQL, Ajax, JavaScript and PHP.
</p><br />
<p> 
I designed, developed and produced an application that calculates the top 6 Leaving Certificate Subjects for the CAO. This app takes the stress of calculating leaving cert points for the students. The app is available for both iTunes and Play Store. When released the app was voted "App of the Week" by The Star newspaper and promoted by TodayFM. Ruari Quinn, Minister for Education at the time, also endorsed as a tool for the students to easily calculated their leaving cert points.
</p> 

<p>This portfolio site demonstrates the use of AngularJS. I incorporated dependency injection, route control and inline HTML5 directives. All of this was put together using MVC (Model View Controller (MVC) to create this SPA (Single Page Application).</p>           </div>
        </div>
        <!-- /.row -->

       

        <!-- Our Customers -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Other sites and work</h2>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="http://businesseducation.ie/"><img class="img-responsive customer-img" title="Business Education.ie" src="images/businessEd.png" alt="business education.ie"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" title="Minister endorsing responsive web site" src="images/minister.png" alt="minister image">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <a href="https://play.google.com/store/apps/details?id=ie.careersportal.caocalc" ><img class="img-responsive customer-img" src="images/android.png" title="Andorid version of Points Calculator" alt="android app image"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
              <a href="services.html">  <img class="img-responsive customer-img" src="images/paul.png" alt="Paul Walsh Video"></a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" title="College project Capature Magazine"  src="images/capature.png" alt="capatre magazine">
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6">
               <a href="http://www.todayfm.com/Take-the-stress-out-of-working-out-your-Leaving-Cert-points"> <img class="img-responsive customer-img" title="Today FM write up on the app" src="images/todayFM2.png" alt="today fm write up on the app"></a>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
