


     <!-- Page Content -->
    <div class="container">


  
        <!-- Marketing Icons Section -->
        <div class="row" >
            <div class="col-lg-12">              
        <br> 
        <!-- this is the login controller -->
        <div class="col-md-3" id="detailsPane">
            <form class="form-auth" ng-submit="login()">
                <h2>Log In</h2>
                <p class="text-warning">{{error_message}}</p>
                <input type="email" ng-model="user.email" placeholder="email" class="form-control"><br>
                <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
                   Parent <input type="radio" ng-model="user.parents" value="1" class="form-control">
                     Child     <input type="radio" ng-model="user.parents" value="0" class="form-control"><br>
                <input type="submit" value="Log in" class="btn btn-primary" />
                <hr>
            </form>
        
        Lat is: {{position.coords.latitude}}<br>Long is: {{position.coords.longitude}}
        <hr>
       <!-- list out the name and location -->
       <ul class="lists" ng-repeat=" x in loginData ">
        <li> <strong class="headingcolor" >Name:</strong> {{x.fname}}</li>
         <li ng-show="{{x.parent}}"><strong  class="headingcolor" >Role:</strong> Parent</li>
          <li> <strong class="headingcolor"  >Child </strong> {{x.alt_email}}</li>
          <li style="font-weight: bold; color:#474747;"> Last logged locations</li>
        </ul>


        </div> 
 <div class="col-md-6" id="hideMePic">
<img src="images/family.jpg" />
 </div>
   
<!-- parent map -->
 <div class="col-md-6" id="mapWrappers">
        <!-- displays the map -->
     
        <div id="map"></div>    <br>   
	         <div id="repeat" class="markers" ng-repeat="marker in markers | orderBy : 'title'">
	            <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
	            <label id="names" >{{marker.title}} 
                    <!-- display current position -->
                    <span ng-if="$index == 0">'s Current Position</span>
                    

                </label></a>
	        </div>
        <button id="country_container1" ng-click="login()">Refresh</button>
        </div>



        <!-- child map -->
 <div class="col-md-6" id="mapWrappers2">
     <button ng-click="login()">refresh</button>
        <!-- displays the map -->
        <div id="map2"></div>    <br>   
             <div id="repeat" class="markers" ng-repeat="marker in markers | orderBy : 'title'">
                <a id="country_container" href="#" ng-click="openInfoWindow($event, marker)">
                <label id="names" >{{marker.title}}</label></a>
            </div>
     
        </div>

          <div class="col-md-3" id="detailsPaneRight">
            Updare Intervals: <select ng-model="settime" style="color:#474747;padding:5px;width:100%;">
  <option value="100000">None</option>
  <option value="20000">30 Seconds</option>
  <option value="60000">1 Minute</option>
  <option value="180000">3 Minutes</option>
  <option value="300000">5 Minutes</option>
</select><br> timer:

            <input type="text" ng-model="settime" style="color:black;" id="parLat"/><br>
            <input type="text" ng-model="parents_long" style="color:black;" id="parLong"/>
            <h2>Chat</h2>
             <input type="text" ng-model="user.msg" placeholder="message" class="form-control"><br> 
             <button id="country_container1" ng-click="login()">Send <i class="glyphicon glyphicon-send"></i> </button>
             <br>
            <div ng-model="user.msgBody" id="msgBody" name="msgBody" >
          
           <p ng-repeat="ms in gotMessage track by $index" class="msgParagraph" >
           <!-- display name before message-->
            <span class="altEmailName">{{ms.email}}: </span>
            <!-- dispaly message -->
            {{ms.msg}}
            </p>
            </div>
          </div>
</div>
</div>




</div>

