     <div class="row" id="mainHeader" style="background-image:url('images/assets/fullwidth.png');background-repeat: no-repeat;background-size: 100%">
        <!-- image from: http://www.bluearcher.com/Project-Carnegie-Museums-Mobile-Membership -->
            <div class="col-md-12">
                <br>
                <img class="img-responsive" src="images/logo.png" alt="Alan Leoanrd picture" style="float:right;margin-right:40px;">
            </div>
            
        </div>

   
<br><br>

      <div class="container">
            <div class="col-md-4" ng-repeat="heads in heading"  >
                <div class="panel panel-default">
                    <div class="panel-heading" >
                        <h4><a href="{{heads.href}}" > <i class="{{heads.class}}"></i> {{heads.name}}</a></h4>
                    </div>
                    <div class="panel-body" style="text-align:center;">
                      
                       <a href="{{heads.href}}" > <img ng-src="{{heads.imagepic}}" alt="main image" width="100%"/></a>
                      
                    </div>
                </div>
            </div>
           
     </div>       
       <br><br> 
        <!-- /.row -->
           <div class="row" id="picRow" style="height:200px;
    background-image: url('images/boat2.jpg');
    background-repeat: no-repeat;
    font-family:impact;
    border-bottom: 5px solid brown;
    background-position: 0px -100px;">
<h3 >Anywhere</h3>

     </div>
<br><br><hr>
    <!-- /.row -->

    <div class="container">
        <div class="row">
                <div class="col-md-6" style="font-size: 22px;line-height: 42px;">
                    <h2>Keep safe</h2><br><p>
               Collect me app is an app designed to help parents and guardians keep track of their young children when out and about. The app can track the exact location of the youngster when they are out with friends, at school or in busy public areas like theme parks, carnivals or parades.
<br>
                Just knowing where you child is at any given time can allow you to have piece of mind and enjoy your time while out and about. 
                The features of collect me app are - Geo location, collect me buttons, pick me up, chat and a Directions and places API provided from Google. 
 </p>
                </div>
                <div class="col-md-6" style="text-align:center">
                <img src="images/assets/globe.png" width="70%" />
                </div>
         </div>       

    </div>
    <br><br><hr>
        <!-- Features Section -->
         <div class="row">
            
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#"><img class="img-responsive customer-img" title="collect me" src="images/assets/phone.png" alt="iphone"></a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" title="laptop" src="images/assets/laptop.png" alt="laptop image">
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#" ><img class="img-responsive customer-img" src="images/assets/desktop.png" title="desktop" alt="android app image"></a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="services.html">  <img class="img-responsive customer-img" src="images/assets/tablet.png" alt="tablet"></a>
            </div>
         
        </div>
 

        <!-- /.row -->
</div>
       

           
        <!-- /.row -->
         

        <hr>

        <!-- Footer -->
        <footer style="background-image:url('images/header.png');height:260px;">
               <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Collect Me!</p>
                </div>
            </div>
        </div>
        </footer>

    </div>
    <!-- /.container -->
     <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
