  
     <header class="intro-header">
        <div class="row" style="text-align:center;border-bottom:5px solid brown;">
            <img src="images/header.png" width="100%" />
        </div>
    </header> 
   
<br><br>

      <div class="container">
            <div class="col-md-4" ng-repeat="heads in heading"  >
                <div class="panel panel-default">
                    <div class="panel-heading" >
                        <h4><i class="{{heads.class}}"></i> {{heads.name}}</h4>
                    </div>
                    <div class="panel-body" style="text-align:center;">
                      
                       <a href="{{heads.href}}" > <img ng-src="{{heads.imagepic}}" alt="main image" width="100%"/></a>
                      
                    </div>
                </div>
            </div>
           
     </div>       
       <br><br> 
        <!-- /.row -->
           <div class="row" id="picRow" style="height:200px;
    background-image: url('images/boat2.jpg');
    background-repeat: no-repeat;
    font-family:impact;
    border-bottom: 5px solid brown;
    background-position: 0px -100px;">
<h3 >Anywhere</h3>

     </div>
<br><br><hr>
    <!-- /.row -->

    <div class="container">
        <div class="row">
                <div class="col-md-6" style="font-size: 22px;line-height: 42px;">
                    <h2>Keep safe</h2><br>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                </div>
                <div class="col-md-6" style="text-align:center">
                <img src="images/assets/globe.png" width="70%" />
                </div>
         </div>       

    </div>
    <br><br><hr>
        <!-- Features Section -->
         <div class="row">
            
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#"><img class="img-responsive customer-img" title="Business Education.ie" src="images/assets/phone.png" alt="iphone"></a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <img class="img-responsive customer-img" title="laptop" src="images/assets/laptop.png" alt="laptop image">
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
                <a href="#" ><img class="img-responsive customer-img" src="images/assets/desktop.png" title="desktop" alt="android app image"></a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-6">
              <a href="services.html">  <img class="img-responsive customer-img" src="images/assets/tablet.png" alt="tablet"></a>
            </div>
         
        </div>
 

        <!-- /.row -->
</div>
       

           
        <!-- /.row -->
         

        <hr>

        <!-- Footer -->
        <footer>
               <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Collect Me!</p>
                </div>
            </div>
        </div>
        </footer>

    </div>
    <!-- /.container -->
     <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
